.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  font-family: Arial, sans-serif;
  color: #333;
}

/* .title {
  text-align: center;
  color: #4CAF50;
} */

.subtitle {
  margin-top: 1.5rem;
  color: #555;
}

.error {
  color: red;
  margin-top: 1rem;
  /* text-align: center; */
}

.data {
  margin-top: 2rem;
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 4px;
  overflow-x: auto;
  font-family: monospace;
  font-size: 0.9rem;
}

.msgOutput {
  margin-top: 2rem;
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 4px;
  overflow-x: auto;
  font-family: monospace;
  font-size: 0.9rem;
}

.placeholder {
  margin-top: 2rem;
  color: #666;
  /* text-align: center; */
}

.inputUsuari {
  width: 100%;
  padding: 0.8rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.subtitolOutput {
  margin-top: 1.5rem;
  color: #333;
  font-weight: bold;
  margin-top: 2.5rem;
}

.instructions {
  line-height: 1.8;
  margin-top: 1rem;
  color: #444;
  font-size: 1.05rem;
}

.grayedOut {
  color: #999;
}

.grayedOut {
  color: #999;
}

.grayedOut a {
  color: #999;
  /* text-decoration: none; */
}

.botoPagPrincipal {
  background-color: #4CAF50;
  margin-top: 2rem;
  color: white;
  padding: 0.8rem 1.2rem;
  border: 1px solid;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  display: block;
  font-weight: 500;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
  transition: 
    background 0.2s,
    color 0.2s,
    border-color 0.2s,
    box-shadow 0.2s;
}

.botoPagPrincipal:hover {
  background: #53d279;
  /* color: #009966; */
  /* border-color: #009966; */
  box-shadow: 0 4px 16px rgba(0,0,0,0.08);
}

.notionBookmark {
  display: flex;
  align-items: center;
  background: #4272da;
  /* border: 1px solid #4CAF50; */
  border-radius: 6px;
  padding: 0.8rem 1rem;
  margin: 1.2rem 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
  transition: 
    background 0.2s,
    color 0.2s,
    border-color 0.2s,
    box-shadow 0.2s;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.notionBookmark:hover {
  background: #5e9dca;
  /* color: black; */
  /* border-color: #009966; */
  box-shadow: 0 4px 16px rgba(0,0,0,0.08);
  text-decoration: none;
}

.divider {
  margin: 2rem 0;
  border: none;
  border-top: 1px solid #e3e3e3;
}

.descripcio {
  margin-top: 1rem;
  color: #666;
  font-size: 0.95rem;
  font-style: italic;
  line-height: 1.3;
}

.descripcio a {
  color: #666;
}